.page-layout {
  padding: 3em;
  display: block;
  overflow-y: auto;

  &.flex {
    display: flex;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  .grid-content .grid-block {

    &.category-list {
      border-top: 1px solid #efeded;
      border-right: 1px solid #efeded;
    }

    > .grid-content, > .grid-block {
      padding: 0;

      &:not(.noborder) {
        border: 1px solid #efeded;
        border-right: none;
        border-top: none;
      }

      &:last-child:not(.account-card)
      {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  .left-column {
    background-color: #fafafa;

    & + .grid-block.main-content {
      padding: 2rem;
      -webkit-box-shadow: inset 24px 0px 20px -10px rgba(0,0,0,0.24);
      -moz-box-shadow: inset 24px 0px 20px -10px rgba(0,0,0,0.24);
      box-shadow: inset 24px 0px 20px -10px rgba(0,0,0,0.24);
    }
  }

  .main-content {
    padding-top: 0px;
    background-color: #f3f3f3;
  }

  .right-column {
    background-color: #eaeaea;
  }

  .regular-padding {
    padding: 2rem 1.75rem !important;
  }
}

#account-notify {
  position: absolute;
  top: auto !important;
  right: 0.5em;
  width: 30em;
}

@media (max-width: 1100px) {
  .hide-column-small {
    display: none !important;
  }
}

@media (max-width: 1300px) {
  .hide-column-large {
    display: none !important;
  }
}

div.bordered-header {
  text-transform: uppercase;
  font-size: 1.10rem;
  padding-left: 10px;
  padding-top: 0.55rem;
  font-weight: 500;
  overflow: hidden;
}

.exchange-bordered {
  border: 1px solid rgba(183, 183, 183, 0.29);

  div:first-child & {
    margin: 0 10px 0 10px;
  }

  div:last-child & {
    margin: 0 10px 0 10px;
  }
}

.generic-bordered-box {
  //border: 1px solid rgba(183, 183, 183, 0.29);

  .box-content {
    //padding-left: 10px;
  }
}

.block-content-header {
  font-size: 2.3125rem;
  padding: 1.5rem 0;

  @include breakpoint(small only) {
    font-size: 1.125rem;
  }
}

.table-cell {
  display: table-cell;
}

.grid-content.app-tables {
  box-sizing: border-box;
  padding: 0px;
  min-height: 100%;
  position: relative;
}

.grid-content.app-tables > .content-block, .grid-content.app-tables > .content-block > .generic-bordered-box, .grid-content.app-tables > .content-block > .generic-bordered-box > .overview-tabs {
  height: 100%;
}

.grid-content.app-tables > .content-block {
  margin-bottom: 0 !important;
}

.highcharts-series-0 {
  path {
    fill: #00caf3;
  }

  .highcharts-area {
    stroke: #dcf7fd;
  }
  .highcharts-graph {
    stroke: #00caf3;
  }
}

.highcharts-series-1 {
  .highcharts-area {
    stroke: #fadeea;
  }
  .highcharts-graph {
    stroke: #f9005a;
  }
}