.header.menu-group {
  justify-content: flex-start;
}

.icon > svg {
  > path {
    //fill: #fff;
  }
}

.float-left > span.icon.user {
  top: 0;
}

.header {
  .button {
    background: #cbd7e1;
  }

  .electron-navigation > ul > li {
    border: none;
  }
  &.primary {
    border-bottom: 0.1px solid $border-color;
  }
  padding-left: 0 !important;
  min-height: 60px;
  text-transform: none;
  .menu-bar > li {
    display: list-item;

    & + li {
      margin-left: 20px;
    }

    &#menubar {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      a {
        line-height: 1;

        svg path {
          fill: #fff;
        }
      }
    }

    > a {
      padding: 0 15px;
      font-size: 14px;
      line-height: 60px;
      font-weight: bold;
    }
  }
}

div.header-balance {
  a {
    font-size: 90%;
    font-weight: bold;
    &:hover {
      background-color: transparent !important;
    }
  ;
  }
}

div.account-drop-down {
  font-size: 90%;
  .dropdown-divider {
    padding-bottom: 10px;
  }
  a.button {
    font-weight: bold;
    font-size: 90%;
    background-color: transparent;
  }
  a:active.button, a:hover.button {
    background-color: transparent !important;
  }
}

div.header-right-menu {
  > .grp-menu-item {
    //border-left: 1px solid $border-color;
    line-height: 2rem;

    &.header-balance {
      margin-right: 100px;

      a {
        font-size: 14px;
        color: #00caf3 !important;
      }
      .font-secondary {
        font-size: 14px;
        color: #00caf3;
      }
    }
    &.account-drop-down {
      .lower-case {
        font-size: 14px;
        color: #c8c8c8;
      }
    }
    > a {
      @include breakpoint(large) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}

.grp-menu-items-group {
  flex-flow: row nowrap;
  display: flex;
  justify-content: flex-end;
}

.grp-menu-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  > a, .button {
    padding: 0.5rem;
    @include breakpoint(large) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    font-size: 1rem;
  }
}

.user-icon > a {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.lower-case {
  text-transform: lowercase;
}


@media (min-width: 768px) and (max-width: 991px) {
  div.header-right-menu > .grp-menu-item.header-balance {
    margin-right: 0;
  }

  .header .menu-bar > li > a {
    padding: 0;
  }

  .grp-menu-item {
    a, .button {
      padding:  1rem 0.5rem!important;
    }
  }
}