// http://sass-guidelin.es/#the-7-1-pattern

@import "vendors/all";

@import "base/all";

@import "components/all";

@import "layout/all";

@import "themes/all";

@import "shame";

@import "responsive/md";
@import "responsive/sm";
@import "responsive/xs";

.phoneInput {
  width: 100%;
  &:active {
    outline: none;
  }
}

.FROM-tooltip-class .MuiTooltip-popper-2 {
  display: none!important;
}